In [3]:
import pandas as pd

In [4]:
df=pd.read_excel('Football Data Test Task.xlsx')
df.head()

,Incremental_ID,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,1,E0,2005-08-13,NaN,Aston Villa,Bolton,2,2,D,2,...,2,6,14,16,7,8,0,2,0,0
1,2,E0,2005-08-13,NaN,Everton,Man United,0,2,A,0,...,5,5,15,14,8,6,3,1,0,0
2,3,E0,2005-08-13,NaN,Fulham,Birmingham,0,0,D,0,...,7,4,12,13,6,6,1,2,0,0
3,4,E0,2005-08-13,NaN,Man City,West Brom,0,0,D,0,...,8,3,13,11,3,6,2,3,0,0
4,5,E0,2005-08-13,NaN,Middlesbrough,Liverpool,0,0,D,0,...,2,7,17,11,5,0,2,3,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7250 entries, 0 to 7249
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Incremental_ID  7250 non-null   int64
 1   Div             7220 non-null   object
 2   Date            7250 non-null   datetime64[ns]
 3   Time            1930 non-null   object
 4   HomeTeam        7250 non-null   object
 5   AwayTeam        7250 non-null   object
 6   FTHG            7250 non-null   int64
 7   FTAG            7250 non-null   int64
 8   FTR             7250 non-null   object
 9   HTHG            7250 non-null   int64
 10  HTAG            7250 non-null   int64
 11  HTR             7250 non-null   object
 12  Referee         7250 non-null   object
 13  HS              7250 non-null   int64
 14  AS              7250 non-null   int64
 15  HST             7250 non-null   int64
 16  AST             7250 non-null   int64
 17  HF              7250 non-null   int64
 18  AF              7250 non-null   int64
 19  HC              7250 non-null   int64
 20  AC              7250 non-null   int64
 21  HY              7250 non-null   int64
 22  AY              7250 non-null   int64
 23  HR              7250 non-null   int64
 24  AR              7250 non-null   int64
dtypes: datetime64[ns](1), int64(17), object(7)
memory usage: 1.4+ MB

In [6]:
df.columns

Index(['Incremental_ID', 'Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG',
       'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST',
       'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [7]:
df.sort_values('Date', inplace=True)

# Add new column for Last5_fulltimeHomeGoals
df['FTHG_L5'] = 0

# Calculate Last5_fulltimeHomeGoals
for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    # Filter last 5 matches of the team before the current match
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    # Sum the goals scored by the team in those matches
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['FTHG']
        elif match['AwayTeam'] == team:
            goals += match['FTAG']
    
    df.at[i, 'FTHG_L5'] = goals

print(df)

      Incremental_ID  Div       Date      Time       HomeTeam        AwayTeam  \
0                  1   E0 2005-08-13       NaN    Aston Villa          Bolton
1                  2   E0 2005-08-13       NaN        Everton      Man United
2                  3   E0 2005-08-13       NaN         Fulham      Birmingham
3                  4   E0 2005-08-13       NaN       Man City       West Brom
4                  5   E0 2005-08-13       NaN  Middlesbrough       Liverpool
...              ...  ...        ...       ...            ...             ...
7244              25  NaN 2024-08-31  15:00:00      Leicester     Aston Villa
7246              27  NaN 2024-08-31  17:30:00       West Ham        Man City
7248              29  NaN 2024-09-01  13:30:00      Newcastle       Tottenham
7247              28  NaN 2024-09-01  13:30:00        Chelsea  Crystal Palace
7249              30  NaN 2024-09-01  16:00:00     Man United       Liverpool

      FTHG  FTAG FTR  HTHG  ...  AST  HF  AF  HC  AC  HY  AY  HR  AR  FTHG_L5
0        2     2   D     2  ...    6  14  16   7   8   0   2   0   0        0
1        0     2   A     0  ...    5  15  14   8   6   3   1   0   0        0
2        0     0   D     0  ...    4  12  13   6   6   1   2   0   0        0
3        0     0   D     0  ...    3  13  11   3   6   2   3   0   0        0
4        0     0   D     0  ...    7  17  11   5   0   2   3   1   0        0
...    ...   ...  ..   ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..      ...
7244     1     2   A     0  ...    5  13  21   1   4   4   5   0   0        4
7246     1     3   A     1  ...    8  10   3   3  11   3   2   0   0        7
7248     2     1   H     1  ...    6  16  13   7  12   4   4   0   0        9
7247     1     1   D     1  ...    3   9  13   4   5   4   2   0   0       13
7249     0     3   A     0  ...    3   7   7   5   2   4   1   0   0        7

[7250 rows x 26 columns]

In [8]:
df.tail(5)

,Incremental_ID,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,FTHG_L5
7244,25,NaN,2024-08-31,15:00:00,Leicester,Aston Villa,1,2,A,0,...,5,13,21,1,4,4,5,0,0,4
7246,27,NaN,2024-08-31,17:30:00,West Ham,Man City,1,3,A,1,...,8,10,3,3,11,3,2,0,0,7
7248,29,NaN,2024-09-01,13:30:00,Newcastle,Tottenham,2,1,H,1,...,6,16,13,7,12,4,4,0,0,9
7247,28,NaN,2024-09-01,13:30:00,Chelsea,Crystal Palace,1,1,D,1,...,3,9,13,4,5,4,2,0,0,13
7249,30,NaN,2024-09-01,16:00:00,Man United,Liverpool,0,3,A,0,...,3,7,7,5,2,4,1,0,0,7

In [9]:
value= df.loc[380]
value

Incremental_ID                      1
Div                                E0
Date              2006-08-19 00:00:00
Time                              NaN
HomeTeam                      Arsenal
AwayTeam                  Aston Villa
FTHG                                1
FTAG                                1
FTR                                 D
HTHG                                0
HTAG                                0
HTR                                 D
Referee                        G Poll
HS                                 19
AS                                  5
HST                                11
AST                                 3
HF                                 10
AF                                 19
HC                                 18
AC                                  1
HY                                  1
AY                                  2
HR                                  0
AR                                  0
FTHG_L5                            14
Name: 380, dtype: object

In [10]:
df['FTHG_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['FTHG']
        elif match['AwayTeam'] == team:
            goals += match['FTAG']
    
    df.at[i, 'FTHG_L15'] = goals

In [11]:
df['FTHG_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['FTHG']
        elif match['AwayTeam'] == team:
            goals += match['FTAG']
    
    df.at[i, 'FTHG_L38'] = goals

In [12]:
df['FTAG_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['FTHG']
        elif match['AwayTeam'] == team:
            goals += match['FTAG']
    
    df.at[i, 'FTAG_L5'] = goals

In [13]:
df['FTAG_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['FTHG']
        elif match['AwayTeam'] == team:
            goals += match['FTAG']
    
    df.at[i, 'FTAG_L15'] = goals

In [14]:
df['FTAG_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['FTHG']
        elif match['AwayTeam'] == team:
            goals += match['FTAG']
    
    df.at[i, 'FTAG_L38'] = goals

In [15]:
df['HS_L5'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HS']
        elif match['AwayTeam'] == team:
            goals += match['AS']
    
    df.at[i, 'HS_L5'] = goals

In [16]:
df['HS_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HS']
        elif match['AwayTeam'] == team:
            goals += match['AS']
    
    df.at[i, 'HS_L15'] = goals

In [17]:
df['HS_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HS']
        elif match['AwayTeam'] == team:
            goals += match['AS']
    
    df.at[i, 'HS_L38'] = goals

In [18]:
df['AS_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HS']
        elif match['AwayTeam'] == team:
            goals += match['AS']
    
    df.at[i, 'AS_L5'] = goals

In [19]:
df['AS_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HS']
        elif match['AwayTeam'] == team:
            goals += match['AS']
    
    df.at[i, 'AS_L15'] = goals

In [20]:
df['AS_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HS']
        elif match['AwayTeam'] == team:
            goals += match['AS']
    
    df.at[i, 'AS_L38'] = goals

In [21]:
df['HST_L5'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HST']
        elif match['AwayTeam'] == team:
            goals += match['AST']
    
    df.at[i, 'HST_L5'] = goals

In [22]:
df['HST_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HST']
        elif match['AwayTeam'] == team:
            goals += match['AST']
    
    df.at[i, 'HST_L15'] = goals

In [23]:
df['HST_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HST']
        elif match['AwayTeam'] == team:
            goals += match['AST']
    
    df.at[i, 'HST_L38'] = goals

In [24]:
df['AST_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HST']
        elif match['AwayTeam'] == team:
            goals += match['AST']
    
    df.at[i, 'AST_L5'] = goals

In [25]:
df['AST_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HST']
        elif match['AwayTeam'] == team:
            goals += match['AST']
    
    df.at[i, 'AST_L15'] = goals

In [26]:
df['AST_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HST']
        elif match['AwayTeam'] == team:
            goals += match['AST']
    
    df.at[i, 'AST_L38'] = goals

In [27]:
df['HF_L5'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HF']
        elif match['AwayTeam'] == team:
            goals += match['AF']
    
    df.at[i, 'HF_L5'] = goals

In [28]:
df['HF_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HF']
        elif match['AwayTeam'] == team:
            goals += match['AF']
    
    df.at[i, 'HF_L15'] = goals

In [29]:
df['HF_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HF']
        elif match['AwayTeam'] == team:
            goals += match['AF']
    
    df.at[i, 'HF_L38'] = goals

In [30]:
df['AF_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HF']
        elif match['AwayTeam'] == team:
            goals += match['AF']
    
    df.at[i, 'AF_L5'] = goals

In [31]:
df['AF_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HF']
        elif match['AwayTeam'] == team:
            goals += match['AF']
    
    df.at[i, 'AF_L15'] = goals

In [32]:
df['AF_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HF']
        elif match['AwayTeam'] == team:
            goals += match['AF']
    
    df.at[i, 'AF_L38'] = goals

In [33]:
df['HC_L5'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HC']
        elif match['AwayTeam'] == team:
            goals += match['AC']
    
    df.at[i, 'HC_L5'] = goals

In [34]:
df['HC_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HC']
        elif match['AwayTeam'] == team:
            goals += match['AC']
    
    df.at[i, 'HC_L15'] = goals

In [35]:
df['HC_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HC']
        elif match['AwayTeam'] == team:
            goals += match['AC']
    
    df.at[i, 'HC_L38'] = goals

In [36]:
df['AC_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HC']
        elif match['AwayTeam'] == team:
            goals += match['AC']
    
    df.at[i, 'AC_L5'] = goals

In [37]:
df['AC_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HC']
        elif match['AwayTeam'] == team:
            goals += match['AC']
    
    df.at[i, 'AC_L15'] = goals

In [38]:
df['AC_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HC']
        elif match['AwayTeam'] == team:
            goals += match['AC']
    
    df.at[i, 'AC_L38'] = goals

In [39]:
df['HY_L5'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HY']
        elif match['AwayTeam'] == team:
            goals += match['AY']
    
    df.at[i, 'HY_L5'] = goals

In [40]:
df['HY_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HY']
        elif match['AwayTeam'] == team:
            goals += match['AY']
    
    df.at[i, 'HY_L15'] = goals

In [41]:
df['HY_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HY']
        elif match['AwayTeam'] == team:
            goals += match['AY']
    
    df.at[i, 'HY_L38'] = goals

In [42]:
df['AY_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HY']
        elif match['AwayTeam'] == team:
            goals += match['AY']
    
    df.at[i, 'AY_L5'] = goals

In [43]:
df['AY_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HY']
        elif match['AwayTeam'] == team:
            goals += match['AY']
    
    df.at[i, 'AY_L15'] = goals

In [44]:
df['AY_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HY']
        elif match['AwayTeam'] == team:
            goals += match['AY']
    
    df.at[i, 'AY_L38'] = goals

In [45]:
df['HR_L5'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HR']
        elif match['AwayTeam'] == team:
            goals += match['AR']
    
    df.at[i, 'HR_L5'] = goals

In [46]:
df['HR_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HR']
        elif match['AwayTeam'] == team:
            goals += match['AR']
    
    df.at[i, 'HR_L15'] = goals

In [47]:
df['HR_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HR']
        elif match['AwayTeam'] == team:
            goals += match['AR']
    
    df.at[i, 'HR_L38'] = goals

In [48]:
df['AR_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HR']
        elif match['AwayTeam'] == team:
            goals += match['AR']
    
    df.at[i, 'AR_L5'] = goals

In [49]:
#AR_L15
df['AR_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HR']
        elif match['AwayTeam'] == team:
            goals += match['AR']
    
    df.at[i, 'AR_L15'] = goals

In [50]:
#AR_L38
df['AR_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    goals = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team:
            goals += match['HR']
        elif match['AwayTeam'] == team:
            goals += match['AR']
    
    df.at[i, 'AR_L38'] = goals

In [51]:
df.tail()

,Incremental_ID,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,HY_L38,AY_L5,AY_L15,AY_L38,HR_L5,HR_L15,HR_L38,AR_L5,AR_L15,AR_L38
7244,25,NaN,2024-08-31,15:00:00,Leicester,Aston Villa,1,2,A,0,...,60,9,29,90,0,2,2,0,1,2
7246,27,NaN,2024-08-31,17:30:00,West Ham,Man City,1,3,A,1,...,72,6,14,53,0,0,2,0,0,2
7248,29,NaN,2024-09-01,13:30:00,Newcastle,Tottenham,2,1,H,1,...,71,7,32,84,1,2,2,0,0,4
7247,28,NaN,2024-09-01,13:30:00,Chelsea,Crystal Palace,1,1,D,1,...,102,10,30,73,1,1,3,1,1,2
7249,30,NaN,2024-09-01,16:00:00,Man United,Liverpool,0,3,A,0,...,79,6,22,64,0,0,1,0,0,4

In [52]:
df['HW_L5'] = 0

# Calculate 'Home Wins in the last 5 matches'
for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    # Count the number of wins (HTR == 'H') in those matches
    home_wins = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'H':
            home_wins += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'A':
            home_wins += 1
    
    df.at[i, 'HW_L5'] = home_wins

In [53]:
df['HW_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    home_wins = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'H':
            home_wins += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'A':
            home_wins += 1
    
    df.at[i, 'HW_L15'] = home_wins

In [54]:
df['HW_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    home_wins = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'H':
            home_wins += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'A':
            home_wins += 1
    
    df.at[i, 'HW_L38'] = home_wins

In [55]:
df['HL_L5'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    home_losses = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'A':
            home_losses += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'H':
            home_losses += 1
    
    df.at[i, 'HL_L5'] = home_losses

In [56]:
df['HL_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    home_losses = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'A':
            home_losses += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'H':
            home_losses += 1
    
    df.at[i, 'HL_L15'] = home_losses

In [57]:
df['HL_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    home_losses = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'A':
            home_losses += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'H':
            home_losses += 1
    
    df.at[i, 'HL_L38'] = home_losses

In [58]:
df['HD_L5'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_home_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    # Count the number of wins (HTR == 'H') in those matches
    home_draws = last_home_matches[last_home_matches['FTR'] == 'D'].shape[0]
    
    df.at[i, 'HD_L5'] = home_draws

In [59]:
df['HD_L15'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_home_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    # Count the number of wins (HTR == 'H') in those matches
    home_draws = last_home_matches[last_home_matches['FTR'] == 'D'].shape[0]
    
    df.at[i, 'HD_L15'] = home_draws

In [60]:
df['HD_L38'] = 0

for i, row in df.iterrows():
    team = row['HomeTeam']
    date = row['Date']
    
    last_home_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    # Count the number of wins (HTR == 'H') in those matches
    home_draws = last_home_matches[last_home_matches['FTR'] == 'D'].shape[0]
    
    df.at[i, 'HD_L38'] = home_draws

In [61]:
df['AW_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    Away_wins = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'H':
            Away_wins += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'A':
            Away_wins += 1
    
    df.at[i, 'AW_L5'] = Away_wins

In [62]:
df['AW_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    Away_wins = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'H':
            Away_wins += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'A':
            Away_wins += 1
    
    df.at[i, 'AW_L15'] = Away_wins

In [63]:
df['AW_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    Away_wins = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'H':
            Away_wins += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'A':
            Away_wins += 1
    
    df.at[i, 'AW_L38'] = Away_wins

In [64]:
df['AL_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    Away_losses = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'A':
            Away_losses += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'H':
            Away_losses += 1
    
    df.at[i, 'AL_L5'] = Away_losses

In [65]:
df['AL_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    Away_losses = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'A':
            Away_losses += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'H':
            Away_losses += 1
    
    df.at[i, 'AL_L15'] = Away_losses

In [66]:
df['AL_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    Away_losses = 0
    for _, match in last_matches.iterrows():
        if match['HomeTeam'] == team and match['FTR'] == 'A':
            Away_losses += 1
        elif match['AwayTeam'] == team and match['FTR'] == 'H':
            Away_losses += 1
    
    df.at[i, 'AL_L38'] = Away_losses

In [67]:
df['AD_L5'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_home_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(5)
    
    home_wins = last_home_matches[last_home_matches['FTR'] == 'D'].shape[0]
    
    df.at[i, 'AD_L5'] = home_wins

In [68]:
df['AD_L15'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_home_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(15)
    
    home_wins = last_home_matches[last_home_matches['FTR'] == 'D'].shape[0]
    
    df.at[i, 'AD_L15'] = home_wins

In [69]:
df['AD_L38'] = 0

for i, row in df.iterrows():
    team = row['AwayTeam']
    date = row['Date']
    
    last_home_matches = df[
        ((df['HomeTeam'] == team) | (df['AwayTeam'] == team)) & 
        (df['Date'] < date)
    ].tail(38)
    
    home_wins = last_home_matches[last_home_matches['FTR'] == 'D'].shape[0]
    
    df.at[i, 'AD_L38'] = home_wins

In [70]:
data=df[380:]
data = data.sort_index()

In [71]:
file_path = "Niranjan's_manipulated_data_republish.xlsx"  
data.to_excel(file_path, index=False)


from IPython.display import FileLink
FileLink(file_path)

/Users/niranjansmac/Data science/Niranjan's_manipulated_data_republish.xlsx

In [94]:
data

,Incremental_ID,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,HD_L38,AW_L5,AW_L15,AW_L38,AL_L5,AL_L15,AL_L38,AD_L5,AD_L15,AD_L38
380,1,E0,2006-08-19,NaN,Arsenal,Aston Villa,1,1,D,0,...,7,2,4,10,3,7,16,0,4,12
381,2,E0,2006-08-19,NaN,Bolton,Tottenham,2,0,H,2,...,11,2,7,18,2,5,9,1,3,11
382,3,E0,2006-08-19,NaN,Everton,Watford,2,1,H,1,...,8,0,0,0,0,0,0,0,0,0
383,4,E0,2006-08-19,NaN,Newcastle,Wigan,2,1,H,1,...,7,1,3,15,4,7,17,0,5,6
384,5,E0,2006-08-19,NaN,Portsmouth,Blackburn,3,0,H,1,...,8,3,8,19,2,5,13,0,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7245,26,NaN,2024-08-31,15:00:00,Nott'm Forest,Wolves,1,1,D,1,...,10,0,3,13,5,10,18,0,2,7
7246,27,NaN,2024-08-31,17:30:00,West Ham,Man City,1,3,A,1,...,9,5,13,28,0,0,3,0,2,7
7247,28,NaN,2024-09-01,13:30:00,Chelsea,Crystal Palace,1,1,D,1,...,8,3,7,12,2,5,16,0,3,10
7248,29,NaN,2024-09-01,13:30:00,Newcastle,Tottenham,2,1,H,1,...,7,3,7,20,1,6,12,1,2,6
7249,30,NaN,2024-09-01,16:00:00,Man United,Liverpool,0,3,A,0,...,6,4,9,25,0,2,4,1,4,9